<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Cars</title>
</head>
<body>
<table>
    <thead>
        <th><h2>Model</h2></th>
        <th><h2>Series</h2></th>
        <th><h2>Year</h2></th>
    </thead>
    <tbody>
    <tr th:each = "car : ${carsList}">
        <td class="align-middle" th:text="${car.model}"></td>
        <td class="align-middle" th:text="${car.series}"></td>
        <td class="align-middle" th:text="${car.yearOfManufacture}"></td>
    </tbody>
</table>

</body>
</html>